Repository World-Meteorological-Organization/wis2box, pull requests merged in 2025-04, with the labels that each got.

#903 update-pywcmp
  examples/config/surface-weather-observations.yml
  tests/data/metadata/discovery/cd-surface-weather-observations.yml
  tests/data/metadata/discovery/cn-grapes-geps-global.yml
  tests/data/metadata/discovery/dz-surface-weather-observations.yml
  tests/data/metadata/discovery/int-wmo-test-cap.yml
  tests/data/metadata/discovery/int-wmo-test-drifting-buoys.yml
  tests/data/metadata/discovery/int-wmo-test-ship.yml
  tests/data/metadata/discovery/int-wmo-test-wind-profile.yml
  tests/data/metadata/discovery/it-surface-weather-observations.yml
  tests/data/metadata/discovery/mw-surface-weather-observations.yml
  tests/data/metadata/discovery/org-daycli-test.yml
  tests/data/metadata/discovery/ro-synoptic-weather-observations.yml
  tests/requirements.txt
Labels: bug, discovery metadata

#874 support for non-real-time data
  .github/workflows/tests-docker.yml
  tests/data/metadata/discovery/ca-annual-min-max-daily-water-flow.yml
  tests/integration/test_workflow.py
  wis2box-management/wis2box/data/__init__.py
  wis2box-management/wis2box/metadata/discovery.py
  wis2box-management/wis2box/metadata/station.py
  wis2box-management/wis2box/pubsub/subscribe.py
Labels: bug

#904 Create .trivyignore
  .github/workflows/trivy.yml
  .trivyignore
  tests/requirements.txt
Labels: security

#909 prevent duplicate links
  wis2box-management/wis2box/metadata/discovery.py
Labels: bug, discovery metadata

#914 suppress wmo:topicHierarchy in WCMP2 publication
  tests/integration/test_workflow.py
  wis2box-management/wis2box/metadata/discovery.py
Labels: discovery metadata

#919 Add token valid path
  docs/source/reference/auth.rst
  docs/source/user/data-ingest.rst
  docs/source/user/public-services-setup.rst
  wis2box-management/requirements.txt
  wis2box-management/wis2box/auth.py
Labels: access control
